//        map.addBuilding(BuildingType.DavidRestaurant, 695, 265, 100, 100, "Rest1");
//        map.addBuilding(BuildingType.RyanRestaurant, 695, 535, 100, 100, "Rest2");
//        map.addBuilding(BuildingType.LynRestaurant, 845, 265, 100, 100, "Rest3");
//        map.addBuilding(BuildingType.EricRestaurant, 845, 535, 100, 100, "Rest4");
//        map.addBuilding(BuildingType.JoshRestaurant, 995, 265, 100, 100, "Rest5");
//        map.addBuilding(BuildingType.ChengRestaurant, 995, 535, 100, 100, "Rest6");
//        map.addBuilding(BuildingType.House, 695, 130, 100, 100, "House1");
// 	   	  map.addBuilding(BuildingType.Apartment, 200, 525, 150, 100, "Apart");
//        map.addBuilding(BuildingType.Bank, 200, 120, 150, 80, "Bank");

building: type = House; x = 695; y = 130; width = 100; height = 100; name = House1;
building: type = House1; x = 845; y = 130; width = 100; height = 100; name = House2;
building: type = House2; x = 995; y = 130; width = 100; height = 100; name = House3;
building: type = Apartment; x = 200; y = 525; width = 150; height = 100; name = Apart;
building: type = Store; x = 400; y = 160; width = 100; height = 200; name = Market;
building: type = DavidRestaurant; x = 695; y = 265; width = 100; height = 100; name = Rest1;
building: type = RyanRestaurant; x = 695; y = 535; width = 100; height = 100; name = Rest2;
building: type = LynRestaurant; x = 845; y = 265; width = 100; height = 100; name = Rest3;
building: type = EricRestaurant; x = 845; y = 535; width = 100; height = 100; name = Rest4;
building: type = JoshRestaurant; x = 995; y = 265; width = 100; height = 100; name = Rest5;
building: type = ChengRestaurant; x = 995; y = 535; width = 100; height = 100; name = Rest6;
building: type = Bank; x = 200; y = 120; width = 150; height = 80; name = Bank;
